<header>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item">
        <h1 class="title">Slovak Cup</h1>
      </a>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <button class="button is-success has-text-white" (click)="onLogoutButtonClick()">
          Odhlasit
        </button>
      </div>
    </div>
  </nav>
</header>

<div class="tabs is-fullwidth">
  <ul>
    <li>
      <a routerLink="/home/info">
        <!--<span class="icon"><i class="fas fa-angle-left" aria-hidden="true"></i></span>-->
        <span>Informácie o súaži</span>
      </a>
    </li>
    <li class="is-active">
      <a>
        <!--<span class="icon"><i class="fas fa-angle-up" aria-hidden="true"></i></span>-->
        <span>Prihlásenie do súťaže</span>
      </a>
    </li>
    <li>
      <a routerLink="/home/teams">
        <span>Prihlásené tímy</span>
        <!--<span class="icon"><i class="fas fa-angle-right" aria-hidden="true"></i></span>-->
      </a>
    </li>
  </ul>
</div>

<div class="container">

  <div class="control">
      <div class="columns is-multiline is-vcentered">
        <div class="column is-half">
          <h2><b>Liga:</b></h2>
        </div>
        <div class="column is-half">
          <div class="control has-icons-left">
            <div class="select">
              <select [(ngModel)]="selectedOptions">
                <option selected disabled>Vyberte Ligu</option>
                <option *ngFor="let i of items">
                  {{i.name}}
                </option>
              </select>
              <div class="icon is-small is-left">
                <i class="fas fa-futbol"></i>
              </div>
            </div>
          </div>
        </div>

        <div class="column is-half">
          <h2><b>Názov klubu:</b></h2>
        </div>
        <div id="error-container" class="column is-half">
          <input #NazovInput class="input is-medium" id="team" type="text" placeholder="Názov futbalového klubu">
          <p id="errormessage"></p>
        </div>
        <div class="column is-half">
          <h2><b>Email:</b></h2>
        </div>
        <div class="column is-half">
          <input id="email" class="input is-medium" type="text" placeholder="">
        </div>
        <div class="column is-half">
          <h2><b>Poštová adresa:</b></h2>
        </div>
        <div class="column is-half">
          <input id="adress" class="input is-medium" type="text" placeholder="Adresa">
        </div>
      </div>


      <button class="button is-success has-text-white" value="Send Mail" (click)="signToCup(NazovInput.value)">
        Prihlásiť do súťaže
      </button>


  </div>

</div>



