<div class="container">
  <div class="control has-icons-left">
    <div class="select">
      <select>
        <option selected>Futbalová liga</option>
        <option>3. liga</option>
        <option>4. liga</option>
        <option>5. liga</option>
      </select>
    </div>
    <div class="icon is-small is-left">
      <i class="fas fa-futbol"></i>
    </div>
  </div>
  <div class="control">
    <input id="email" class="input" type="text" placeholder="" disabled>
  </div>
</div>


<button class="button is-success has-text-white" (click)="onLogoutButtonClick()">
  Odhlasit
</button>
<input #NazovInput class="input has-background-light is-medium" type="text" placeholder="Enter List name">
<button class="button is-success has-text-white" (click)="compareClubInput(NazovInput.value)">
  porovnat s db
</button>
