<header>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item">
        <h1>Super Cup</h1>
      </a>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <button class="button is-success has-text-white" (click)="onLogoutButtonClick()">
          Odhlasit
        </button>
      </div>
    </div>
  </nav>
</header>

<div class="tabs is-fullwidth">
  <ul>
    <li>
      <a routerLink="/home/info">
        <span class="icon"><i class="fas fa-angle-left" aria-hidden="true"></i></span>
        <span>Informácie o súaži</span>
      </a>
    </li>
    <li class="is-active">
      <a>
        <span class="icon"><i class="fas fa-angle-up" aria-hidden="true"></i></span>
        <span>Up</span>
      </a>
    </li>
    <li>
      <a>
        <span>Right</span>
        <span class="icon"><i class="fas fa-angle-right" aria-hidden="true"></i></span>
      </a>
    </li>
  </ul>
</div>

<div class="container">

  <div class="control">
    <div class="columns is-desktop is-vcentered">
      <div class="column">
        <h2>Liga:</h2>
        <br>
        <h2>Názov klubu:</h2>
        <br>
        <h2>Email:</h2>
        <br>
        <h2>Poštová adresa:</h2>
      </div>
      <div class="column">
        <div class="control has-icons-left">
          <div class="select">
            <select>
              <option selected>Futbalová liga</option>
              <option>3. liga</option>
              <option>4. liga</option>
              <option>5. liga</option>
            </select>
            <div class="icon is-small is-left">
              <i class="fas fa-futbol"></i>
            </div>
          </div>
        </div>
        <br>
        <input #NazovInput class="input is-medium" type="text" placeholder="Názov futbalového klubu">
        <input id="email" class="input is-medium" type="text" placeholder="" disabled>
        <br>
        <input id="adress" class="input is-medium" type="text" placeholder="Adresa">
      </div>
    </div>





    <button class="button is-success has-text-white" (click)="signToCup(NazovInput.value)">
      Prihlásiť do súťaže
    </button>
    <p id="errormessage"></p>
  </div>

</div>



