<header>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item">
        <h1 class="title">Slovak Cup</h1>
      </a>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <button class="button is-success has-text-white" (click)="onLogoutButtonClick()">
          Odhlasit
        </button>
      </div>
    </div>
  </nav>
  <div class="tabs is-fullwidth ">
    <ul>
      <li class="is-active">
        <a>
          <!--<span class="icon"><i class="fas fa-angle-left" aria-hidden="true"></i></span>-->
          <span>Informácie o súaži</span>
        </a>
      </li>
      <li>
        <a routerLink="/home">
          <!--<span class="icon"><i class="fas fa-angle-up" aria-hidden="true"></i></span>-->
          <span>Prihlásenie do súťaže</span>
        </a>
      </li>
      <li>
        <a routerLink="/home/teams">
          <span>Prihlásené tímy</span>
          <!--<span class="icon"><i class="fas fa-angle-right" aria-hidden="true"></i></span>-->
        </a>
      </li>
    </ul>
  </div>
</header>

<div class="container">
  <div class="columns is-multiline is-vcentered">
    <div class="column is-half">
      <h2><b>Typ športu:</b></h2>
    </div>
    <div class="column is-half">
      <h3>Futbal</h3>
    </div>
    <div class="column is-half">
      <h2><b>Pohlavie:</b></h2>
    </div>
    <div class="column is-half">
      <h3>Mužské</h3>
    </div>
    <div class="column is-half">
      <h2><b>Sezóna:</b></h2>
    </div>
    <div class="column is-half">
      <h3>2022/23</h3>
    </div>
    <div class="column is-half">
      <h2><b>Riadiaci zväz súťaže:</b></h2>
    </div>
    <div class="column is-half">
      <h3>Snina</h3>
    </div>
    <div class="column is-half">
      <h2><b>Veková úroveň súťaže:</b></h2>
    </div>
    <div class="column is-half">
      <h3>Dospelí</h3>
    </div>
    <div class="column is-half">
      <h2><b>Súťaž:</b></h2>
    </div>
    <div class="column is-half">
      <h3>Slovak Cup</h3>
    </div>
  </div>
</div>


