<header>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item">
        <h1>Super Cup</h1>
      </a>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <button class="button is-success has-text-white" (click)="onLogoutButtonClick()">
          Odhlasit
        </button>
      </div>
    </div>
  </nav>
</header>

<div class="tabs is-fullwidth">
  <ul>
    <li class="is-active">
      <a>
        <span class="icon"><i class="fas fa-angle-left" aria-hidden="true"></i></span>
        <span>Informácie o súaži</span>
      </a>
    </li>
    <li >
      <a routerLink="/home">
        <span class="icon"><i class="fas fa-angle-up" aria-hidden="true"></i></span>
        <span >Up</span>
      </a>
    </li>
    <li>
      <a>
        <span>Right</span>
        <span class="icon"><i class="fas fa-angle-right" aria-hidden="true"></i></span>
      </a>
    </li>
  </ul>
</div>
