<div class="centered-content">
  <div class="white-box">
    <h1 class="title has-text-primary">Registrácia</h1>
    <div class="field">
      <p class="control has-icons-left has-icons-right">
        <input #clubInput class="input has-background-light" type="email" placeholder="Email">
        <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
      </p>
    </div>
    <div class="field">
      <p class="control has-icons-left">
        <input #pwInput class="input has-background-light" type="password" placeholder="Password">
        <span class="icon is-small is-left">
      <i class="fas fa-lock"></i>
    </span>
      </p>
    </div>
    <div class="field is-pulled-right">
      <div class="buttons">
        <p class="control">
          <button class="button is-success has-text-primary has-background-light" routerLink="/login">
            Naspäť
          </button>
          <button class="button is-success has-text-white" (click)="onSignupButtonClick(clubInput.value,pwInput.value)">
            Registrácia
          </button>
        </p>
      </div>
    </div>
  </div>
</div>
