<div class="timer">

  <div class="inner has-text-centered" *ngIf="daysToDday < 0">
      <h1 class="headline">Už sa nie je možné prihlásiť</h1>
    <button class="button is-success has-text-white" routerLink="/football-matches">Zápasy</button>
  </div>
  <div class="inner" *ngIf="daysToDday>=0">
    <h1 class="headline"> Ukončenie prihlasovania </h1>
    <ul>
      <li><span id="days"> {{daysToDday}}d</span></li>
      <li><span id="hours"> {{hoursToDday}}h</span></li>
      <li><span id="minutes"> {{minutesToDday}}m</span></li>
      <li><span id="seconds"> {{secondsToDday}}s</span></li>
    </ul>
  </div>

</div>
